html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,
tr,th,td {
    margin : 0;
    padding : 0;
    border : 0;
    font : inherit;
    font-family : '微软雅黑','宋体';
}
.div1{width:100%;overflow:hidden;margin-top:20px;}
.div11{width:50%;float:left;text-align:right;font-size:130%;}
.div12{width:50%;float:left;text-align:left;font-size:130%;}
.div121{width:30%;float:left;text-align:left;}
.div122{width:30%;float:left;text-align:left;}
.div2{width:100%;margin-top:5%;overflow:hidden;}
.div21{width:70%;float:left;text-align:left;}
.div22{width:30%;float:left;text-align:right;}
.lonOrRegDiv{width:100%;text-align:center;margin-top:15px;}
.lonOrRegSp{font-size:130%;color:#FFFFFF;}
/**/
.validatebox-invalid,.textbox-invalid {
	border-color: #ffa8a8;
  	background-color: #fff;
}